# build output
build
CMakeFiles
.mxproject
build.ninja
CMakeCache.txt
compile_commands.json
cmake_install.cmake

# work in progress
BNO055

# VSCode STM32Cube extension state
.settings

# Local clangd configuration (optional)
.clangd
